<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all requests under /api/specific/ to the PHP script
    RewriteRule ^api/specific/(.*)$ /api/specific/index.php?version=$1 [L,QSA]
</IfModule>
